body{
    display: flex;
    flex: 1;
    flex-direction: column;
}


header{
    display: flex;
    flex:1;
    background-color: rgb(210, 247, 77);

}

 

.fronthead{
    display: flex;
    flex: 1;
    font-size: 40px;
    font-weight:bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
     color: white;
     text-shadow: 2px 2px #34439c;     

}

a{  
    display: flex;
    text-decoration: none;
    color: blue
       


}

nav {
    display: flex;
    gap: 10px;
    flex:1;
    justify-content: end;
    align-items: center;
    margin-right: 100px;
   

    
}

.title{
    display: flex;
     color: aqua;
}


body{
    background-color: rgb(95, 111, 156);
}

.present{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    margin-left: 180px;
    gap: 20px;
   margin-right: 180px;
   margin-top: 20px;
}
 
.SellPoint{
    display: flex;
    flex: 1;
    font-size: 22px;
    font-weight:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
     color: white;
     text-shadow: 2px 2px #34439c;   
}
 .desc{
      max-width: 100px;
      color: bisque;
      font-size: 18px;
      display: contents;

}

button{
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    align-self: center;
    margin-right: 400px;
    background-color: rgb(95, 111, 156);
    color: white;
}

.cose{
    background-color: white;
    display: flex;
    flex:1;
    flex-direction: row;
    gap: 30px;
    margin-top: 60px;
   

}

.lorem{
    margin: 10px;
    padding: 10px;
    color:  rgb(95, 111, 156);
    border-width:3px;
     border-style:solid; 
     border-color:rgb(95, 111, 156);
     
}




.quote{
    display: flex;
    background-color: rgb(210, 247, 77);
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
}

.testo{
    display: flex;
    flex: 1;
    font-size: 22px;
    font-weight:500;
    font-family:cursive
}


.maker {
    display: flex;
    flex: 1;
    font-size: 18px;
    font-weight:700;
    font-family: Georgia, 'Times New Roman', Times, serif;
     align-self: flex-end; 
     margin-right: 160px;
}


footer{
    display: flex;
    flex:1;
    background-color: #E5E7EB;
   justify-content: center;
}